:root {
	--primary-text-color: #212121;
	--primary-white-color: #ffffff;
	--secondary-text-color: #757575;
	--third-text-color: #000000;
	--fourth-text-color: rgba(255, 255, 255, 0.6);
	--acent-color: #2196f3;
	--secondary-bgc-color: #2f303a;
	--third-bgc-color:  #f5f4fa;
	--btn-bgc-color: #188ce8; 
	--primary-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}

	
	p, h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}

	ul {
	margin: 0;
	padding: 0;
	}

	img {
		display: block;
	}

body {
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;

outline: 2px solid red;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;.
}
/*-----------------HOVER----------------*/

.accent-link:hover {
	color: var(--acent-color);
}

.hero-btn:hover {
	background: var(--btn-bgc-color);
	box-shadow: var(--primary-shadow);
	border-radius: 4px;
}

.filter-btn:hover {
	color: var(--primary-white-color);
	background-color: var(--acent-color);
}

/*-----------------FOCUS----------------*/

.accent-link:focus {
	color: var(--acent-color);
}

.filter-btn:focus {
	color: var(--primary-white-color)
	background-color: var(--acent-color);
}

.btn {
	cursor: pointer;
}

/*-----------------LOGO----------------*/

.first-logo {
	font-family: "Raleway", "sans-serif";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--acent-color);
}

.second-logo {
	font-family: "Raleway", "sans-serif";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--primary-white-color);
}

.third-logo {
	font-family: "Raleway", "sans-serif";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--third-text-color)
}

/*-----------------HEADER----------------*/

.header {
	padding-top: 24px;
	padding-bottom: 50px;
}


.header-list-nav {
	display: flex;
	margin-left: 93px;
	margin-right: 331px;
	column-gap: 50px;
}

.header-list-adress {
	display: flex;
	margin-left: auto;
	column-gap: 50px;
}

.header .container {
	display: flex;
	align-items: center;
}



.header-email,
.header-tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}

.header-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

/*-----------------HERO----------------*/

.hero-content {
	padding: 200px 252px 200px 252px;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-white-color);

	
	min-width: 696px;
	margin-bottom: 30px;

}

.hero-btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);

	margin: auto;
	

}

.hero-btn {
	background-color: var(--acent-color)
}

.hero {
	background-color: var(--secondary-bgc-color);
	
}

/*-----------------BENEFITS----------------*/

.benefits-item {
	width: 270px;
	}

.benefits-list {
	padding-bottom: 0;
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
}

.benefits-item-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--primary-text-color);

	margin-bottom: 10px;
}

.benefits-item-after-title {
	font-size: 14px;
	line-height: 1.71;
	color: var(--secondary-text-color);
}

/*-----------------SPECIALIZATION----------------*/

.specialization-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: var(--primary-text-color);
	margin-bottom: 50px;
}

.specialization-list {
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	}


/*-----------------TEAM----------------*/

.team {
	background-color: var(--third-bgc-color);
}

.team-item-list {
	background-color: var(--primary-white-color);
	column-gap: 30px;
}

.team-list {
	display: flex;
	justify-content: space-between;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--primary-text-color);

	margin-bottom: 50px;
}

.team-item-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--primary-text-color);

	margin-top: 30px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.team-item-after-title {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--secondary-text-color);

	padding-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

/*-----------------FOOTER----------------*/

.footer {
	background: var(--secondary-bgc-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-adress-list {
	margin-top: 20px;
}

.footer-address-item-map {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	color: var(--primary-white-color);
}

.footer-address-item-link {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	color: var(--fourth-text-color)
}

.footer-address-item:not (:last-child) {
	margin-bottom: 9px;
}

/*-----------------PORTFOLIO----------------*/

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/*-----------------PORTFOLIO FILTER----------------*/

.filter-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	color: var(--primary-text-color);
	border-radius: 4px;
	border: transparent;
}

.filter-list {
	display: flex;
	column-gap: 8px;
	justify-content: center;
	margin-bottom: 50px;
}

/*-----------------PORTFOLIO WORKS----------------*/
.filter {
	padding-top: 0;
}

.works-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
}

.works-item-list {
	width: calc((100-60px)/3);
}

.works-item-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-text-color);
	margin-top: 20px;
	margin-bottom: 4px;

}

.works-item-after-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	color: var(--secondary-text-color);
}

.current-page {
	color: var(--acent-color);
}
